<div class="col-sm-6 col-md-4 col-lg-3 panel panel-default panel-body">

<h2>Your shopping cart </h2>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
	<th>Product</th>
	<th>Quantity</th>
	<th></th>
      </tr>
    </thead>

    <div id="tasks" style="display:none;">
      <%= render 'cart_items' %>
    </div>


  </table>



  <div class="pull-right">
    <%= link_to fa_icon("angle-up", text: "Open Cart"), edit_cart_path, class: "btn btn-info btn-sm"  %>
    <%= link_to fa_icon("times-circle", text: "Empty Cart"), @cart, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm"  %>
  </div>

</div>
