// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.table-order {
}

.check {
  width:47px;
}
.item-name {
  width:400px;
}
.item-price {
  width:20%;
}
.item-type {
  width:10%;
}
.item-quantity {
  width:20%;
}
.icon{
    text-align: center;
}
