// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table {
  margin-bottom: 0px !important;
}

.table-order {
  margin:0 !important;
}

.check {
  width:47px;
}
.item-name {
  width:400px;
}
.item-price {
  width:20%;
}
.item-quantity {
  width:20%;
}
.icon{
    text-align: center;
}
